{% extends "base.html" %}
{% block title %}Agregar Cliente{% endblock %}

{% block content %}
<h2>Agregar Cliente</h2>
<form method="POST">
    <label>Razón Social:</label>
    <input type="text" name="razon_social" required>
    
    <label>RUC:</label>
    <input type="text" name="ruc">
    
    <label>Dirección:</label>
    <input type="text" name="direccion">
    
    <label>Teléfono:</label>
    <input type="text" name="telefono">
    
    <label>Nombre:</label>
    <input type="text" name="nombre">
    
    <label>Apellidos:</label>
    <input type="text" name="apellidos">
    
    <label>Correo:</label>
    <input type="email" name="correo">

    <br><br>
    <button type="submit" class="boton">Guardar</button>
</form>
{% endblock %}
